/*
    Basic
*/

@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Fredoka+One&family=Montserrat:wght@500&family=Questrial&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');

body {
    background-color: floralwhite;
    font-family: 'Balsamiq Sans', cursive;
}
/*.col{
padding-right: 10rem; 
padding-left: 10rem;}*/
p {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    line-height: normal;
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 600;
    color: darkorange;
}
h4{
    font-size:2rem;
}

hr {
    border: 1px solid coral;
}

.link-custom {
    color: coral;
}
.link-custom:hover {
    color: black;
}

.img-shadow {

}
.carousel {
    box-shadow: 0 0 10px rgba(254,174,119,1);
}
.carousel-item {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
video {
    box-shadow: 0 0 10px rgba(254,174,119,1);
}
iframe {
    box-shadow: 0 0 10px rgba(254,174,119,1);
}

.card-custom {
    box-shadow: 0 0 10px coral;
    background-color: #FED2BB;
}
.row-custom {
    width: 100%;
    box-shadow: 0 0 15px coral;
}

.btn-custom {
    font-size: 130%;
    padding: 3%;
    background: coral;
    background-color: linear-gradient(60deg, rgba(254,174,119,1) 0%, rgba(255,88,0,1) 100%);
    border-color: rgba(254,174,119,1);
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 2em;
    box-shadow: 0 0 10px rgba(254,174,119,0.7);
}
.btn-custom:hover {
    background-color: coral ;
    border-color: coral;
}
.btn-custom:active {
    background-color: coral;
    border-color: coral;
}

#filter-search {

    border-color: darkorange;
    border: solid 3px;
    color:orange;
}
#filter-month {

    border-color: darkorange;
     border: solid 3px;
    color:orange;
}

/*
    Photo gallery
*/
#carousel-gallery > .carousel-inner > .carousel-item {
    height: 70vh;
}

/*
    Pagination
*/
.pagination-page {
    font-size: 130%;
}
.btn-pagination {
    font-size: 130%;
    padding: 0.5%;
    background-color: rgba(254,174,119,1);
    border-color: rgba(254,174,119,1);
    color: white;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-radius: 2em;
}
.btn-pagination:hover {
    background-color: rgba(254,174,119,1);
    border-color:  rgba(254,174,119,1);
    color: white;
}
.btn-pagination.disabled {
    background-color:  rgba(254,174,119,1);
    border-color:  rgba(254,174,119,1);
    color: white;

}
.btn-send {
    font-size: 130%;
    padding: 3%;
    background-color: #8d6e63;
    border-color: #8d6e63;
    box-shadow: 0 0 10px #795548;
}
.btn-send:hover {
    background-color: #bcaaa4;
    border-color: #bcaaa4;
}

/*
    Navbar
*/
body {
    margin-top: 3.9rem;
}
.navbar {
    background: coral;
    background: linear-gradient(60deg, rgba(254,174,119,1) 0%, rgba(255,88,0,1) 100%);
    font-size: 130%;
    width: 100%;
    padding: 0% 2rem;
}
.navbar-brand {
    color: #fff3e0;
    font-size: 180%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 0.5rem;
    margin-right: 1rem;
    font-family: 'Balsamiq Sans', cursive;;
    font-weight: 600;
}
.navbar-brand:hover {
    color: #5d4037;

}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}
.nav-link {
    color: rgba(255,255,255,1) ;
    font-size: 120%;
    font-weight: 600;
    margin-left:4rem;
  /*  margin-right:4rem;*/
}
.nav-link:hover {
  color: rgba(255,255,255,1) !important;  
}
.nav-link::after {
    content: '';
    display: flex;
    width: 0px;
    height: 2.5px;
    background: white;
    transition: width .3s;
}
.nav-link:hover{
    text-decoration: none;
}
.nav-link:hover::after {
    width: 100%;
}
.nav li {
    font-family: 'Balsamiq Sans', cursive;;
}

/*
    Orientation info
*/
.breadcrumb {
    font-size: 125%;
    margin-top: 3rem;
    background-color: rgba(254,174,119,0.5);
    color: white;
    font-style: italic;
    font-family: 'Balsamiq Sans', cursive;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 2em;
}
.breadcrumb-item+.breadcrumb-item::before{
    color:white;
}
@media only screen and (max-width: 768px) {
    .breadcrumb {
        margin-top: 2rem;
    }
}
@media only screen and (max-width: 576px) {
    .breadcrumb {
    margin-top: 1.5rem;
    }
}
.breadcrumb-item {
    color: white;
}
.breadcrumb-item > a {
    color: darkorange;
}
.breadcrumb-item > a:hover {
    color: darkorange;
    text-decoration: none;
}
.breadcrumb-item > a:after {
    content: '';
    display: flex;
    width: 0px;
    height: 2.5px;
    background:darkorange ;
    transition: width .3s;
}
.breadcrumb-item > a:hover::after {
    width: 100%;
}
    
/*
    Footer
*/
#footer {

}
#footer-1 {
    background-color: rgba(254,174,119,1);
}
.link-footer {
    color: white;
}
.link-footer:hover {
    color: white;

}
#footer-2 {
    background-color: rgba(254,174,119,1);
}
#footer-2-text {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    
}
#footer-3 {
    background-color: rgba(254,174,119,1);
}
#footer-3 {
    color: white;

}

/*
    Home page
*/
#carousel-intro > .carousel-inner > .carousel-item {
    height: 90vh;
}

/* 
    Contacts page
*/
.jumbotron-custom {
    background-color: #ffcc80;
    width: 60%;
    box-shadow: 0 0 15px #795548;
}
@media only screen and (max-width: 768px) {
    .jumbotron-custom {
        width: 80%;
    }
}

.input-message {
    box-shadow: 0 0 10px #8d6e63;
    border-color: #a59590;
}

.fl{
    color: white;
    font-family: 'Balsamiq Sans', cursive;;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.fa {
    padding: 20px;
    font-size: 40px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-instagram{
    background: #C13584;
    color: white;
}
.fa-twitter{
    background: #38A1F3;
    color: white;
}
.fa-reddit{
    background: #FF5700;
    color: white;
}

/*
    Faq page
*/
.accordion-custom {
    box-shadow: 0 0 10px #795548;
}
.accordion-custom-card {
    border-color: #f57c00;
}
.accordion-custom-card > .card-header {
    background-color: #ffb74d;
}
.accordion-custom-title {
    color: #3e2723;
}
.accordion-custom-title:hover {
    color: #ffecb3;
}
.accordion-custom-body {
    background-color: #ffecb3;
}