body {
    padding-top: 3.5rem;
}

.nav li {
    margin-left: 10px;
    margin-right: 10px;
}

.breadcrumb {
    background-color: white;
}

.carousel-item {
    height: 92.5vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.video{
    width: 50%;
}

.upper-position{
    position: relative;
    top: 70px;
}

.gray{
    background-color: gray;
}

.dark-gray{
    background-color: darkgray;
}

.fl{
    color: white;
}



