<!--carousel-gallery-->
<div id="carousel-gallery" class="carousel slide" data-ride="carousel-gallery">
    <ol class="carousel-indicators">
    </ol>
    <div class="carousel-inner" role="listbox">
    </div>
    <a class="carousel-control-prev" href="#carousel-gallery" role="button" data-slide="prev">
        <div class="carousel-control-prev-icon" aria-hidden="true"></div>
        <div class="sr-only">Previous</div>
    </a>
    <a class="carousel-control-next" href="#carousel-gallery" role="button" data-slide="next">
        <div class="carousel-control-next-icon" aria-hidden="true"></div>
        <div class="sr-only">Next</div>
    </a>
</div>