<!--footer-->
<footer class="page-footer font-small mt-5">
    <div class="container-fluid">
        <div id="footer-1" class="row text-center d-flex justify-content-center pt-5 pb-3" shadow>
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase">
                    <a href="/pages/donate.html" class="fl link-footer">Donate</a>
                </h6>
            </div>
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase">
                    <a href="/pages/faq.html" class="fl link-footer">FAQ</a>
                </h6>
            </div>
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase">
                    <a href="/pages/contacts.html" class="fl link-footer">Contact us</a>
                </h6>
            </div>
        </div>
        <!--<hr class="rgba-white-light">-->
        <div id="footer-2" class="row d-flex text-center justify-content-center">
            <div class="col-md-8 col-12 py-3">
                <p id="footer-2-text">CHILD4HELP</p>
            </div>
        </div>
    </div>
    <div id="footer-3" class="footer-copyright text-center pt-3 pb-4 gray">
        © 2020 Copyright: Massimiliano, Lorenzo, Elena
    </div>    
</footer>