<footer class="page-footer font-small dark-gray">
    <div class="container">
        <div class="row text-center d-flex justify-content-center pt-5 mb-3">
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!" class="fl">Donate</a>
                </h6>
            </div>
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase">
                    <a href="#!" class="fl">FAQ</a>
                </h6>
            </div>
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!" class="fl">Contact us</a>
                </h6>
            </div>
        </div>

        <hr class="rgba-white-light" style="margin: 0 15%;">

        <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
            <div class="col-md-8 col-12 mt-2">
                <p style="font-size: large">CHILD4HELP</p>
            </div>
        </div>
    </div>
    
    <div class="footer-copyright text-center py-3 gray">
        © 2020 Copyright: Lorenzo, Elena, Massimiliano
    </div>    
</footer>