<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Child4Help</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav nav">
            <li class="nav-item">
                <a class="nav-link" href="/pages/association1.html">Association</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pages/services.html">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pages/events.html">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pages/people.html">People</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pages/articles.html">Articles</a>
            </li>
        </ul>
    </div>
</nav>